html, h1, h1, h3, h4, p {
    font: normal normal bold 16px/1.2em sans-serif;
}
h1 {
    font: bold 3rem/1.1em sans-serif;
    color: #008000;
    margin: 0;

}
form {
    background-color: #f3f3f3;
    padding: 2em;
}
.alert {
    font: normal normal bold 2rem/1em sans-serif;
    padding: .2em .5em;
    margin: 1em auto .5em;
    border-top: 1px solid black;
}
.warning {
    color: red;
    list-style-type: none;
    padding: 0;
}
dl {
    margin: 0 3em;
}
dt {
    font-size: .6em;
    border-top: 1px dotted black;
}
dd {
    display: inline-block;
    margin: 0;
    font-weight: 100;
    margin-bottom: 1em;
}
